.contacts__item {
  vertical-align: baseline;
  display: inline-block;
  padding-top: 5px;
  width: 27%;
  font-size: 14px;
  line-height: 30px;
  color: @dark-gray;
  margin-right: 5px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    width: 22%;
    margin-top: 8px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 10px;
    padding-top: 9px;
    margin-top: 0;
  }
}

.contacts__item-information {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  color: @dark-gray;
  font-style: normal;
  margin-top: 4px;
  min-width: 180px;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    margin-top: 13px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 9px;
  }
}

.contacts__item-information--link-position {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 4px;
    background-color: @special-green;
  }

  @media (min-width: @tablet-width) {
    &::after {
      bottom: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      bottom: -5px;
    }
  }
}

.contacts__item-information--link-position:hover {
  color: @icon-green;
}

.contacts__item-information--link-position:active {
  color: @icon-green;

  &::after {
    opacity: 0.1;
  }
}

.contacts__write-to-us {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  border: 2px solid @dark-gray;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  color: @dark-gray;
  width: 260px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0 auto;
    width: 230px;
    font-size: 17px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 65px 0 37px;
  }
}

.contacts__write-to-us:hover {
  background-color: @dark-gray;
  color: @white;
}

.contacts__write-to-us:active {
  background-color: @dark-gray;
  color: @white-opacity;
}

.contacts__bottom-container {
  padding: 0;

  @media (min-width: @desktop-width) {
    width: 415px;
    padding: 0;
    margin: 0;
  }
}

.contacts__heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-top: 141px;
    margin-bottom: 16px;
  }
}

.contacts {
  position: relative;
  margin-top: 38px;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-top: 80px;
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 50px 0 225px;
    margin: 0 auto 68px;
    width: 1150px;
    display: flex;
    flex-direction: column;
  }
}

.contacts__map {
  width: 100%;
  margin-top: 62px;
  margin-bottom: 36px;
  vertical-align: bottom;
  position: relative;
  padding-bottom: 0;
  background-color: @light-gray;

  @media (min-width: @tablet-width) {
    margin-top: 23px;
    height: 457px;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 40px;
    width: 527px;
    height: 457px;
    align-self: flex-end;
  }
}

.contacts__map iframe {
  vertical-align: bottom;
  display: inline-block;
  width: 100%;
  z-index: 2;
  border: 0;

  @media (min-width: @tablet-width) {
    height: 457px;
  }
}

.contacts__map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contacts__box {
  margin-top: 24px;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-top: 26px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
  }
}

.contacts__item-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    grid-area: item-box;
    margin-bottom: 20px;
  }
}

.contacts__container {
  position: relative;

  @media (min-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      right: 53px;
      top: -23px;
      background-image: url("../img/flag.svg");
      width: 47px;
      height: 81px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 415px;
    padding: 0;
    margin: 0;

    &::before {
      left: -112px;
      top: 124px;
    }
  }
}
