.developer {
  color: @black;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  vertical-align: baseline;
  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.developer span{
  display: block;
  padding-top: 5px;
}


.developer__link {
  margin-left: 27px;
}

