.developer {
  color: @black;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  margin-top: 23px;
  vertical-align: baseline;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    justify-content: flex-end;
  }
}

.developer a {
  display: flex;
  justify-content: center;
}

.developer span {
  color: @black;
  display: block;
  padding-top: 7px;
}


.developer__link svg {
  margin-left: 27px;
}

.developer__link:hover svg {
  fill: @icon-green;
}

.developer__link:active svg {
  fill: @icon-green;
  opacity: 0.3;
}
