.form-page-main__text {
  font-size: 13px;
  padding: 17px 30px;
  margin: 0 auto 9px;
  @media (min-width: @tablet-width) {
    width: 768px;
    font-size: 17px;
    line-height: 30px;
    padding: 58px 50px  30px;
    margin-bottom: 0;
  }
  @media (min-width: @desktop-width) {
    width: 1150px;
    padding: 101px 225px 19px;
    margin: 0 auto;
  }
}
