.form-page-main__text {
  font-size: 13px;
  padding: 17px 30px;
  margin: 0 auto;
  @media (min-width: @tablet-width) {
    padding: 0 50px;
    width: 768px;
  }
  @media (min-width: @desktop-width) {
    width: 1150px;
    padding: 0 225px;
    margin: 0 auto;
  }
}
