.page-footer {
  background-color: @light-gray;
}

.page-footer__container {
  padding: 25px 30px 23px;
  display: grid;
  @media (min-width: @tablet-width) {
    padding: 51px 50px 58px;
    display: flex;
  }
}

.page-footer__logo {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
    width: 101px;
    margin-right: 122px;
  }
  @media (min-width: @desktop-width) {
    width: 27.9%;
  }
}

