.popup {
  z-index: 6;
  background-color: @white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  border-top: 1px solid @popup-color;
  border-bottom: 1px solid @popup-color;
  box-shadow: 0 5px 10px 0 @color-shadow;
  margin: 0 auto;
  padding: 28px 30px 46px;
  text-align: center;
  display: block;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 566px;
    height: 336px;
    padding: 38px 93px 61px;
    outline: 1px solid @border-gray;
    border: none;
  }
}

.popup__text {
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.popup__radio {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: @tablet-width) {
    margin-top: 18px;
    margin-bottom: 28px;
  }
}

.popup__radio li {
  margin-right: 7px;
}

.popup__radio li:last-child {
  margin-right: 0;
}

.popup__label {
  color: @dark-gray;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  width: 82px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 2px solid @popup-special-border;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 112px;
  }
}

.popup__input:checked + .popup__label {
  border: 2px solid @special-green;
}

.popup__input:hover + .popup__label {
  border: 2px solid @popup-special-border-hover;
}

.popup__input:checked:hover + .popup__label {
  border: 2px solid @special-green;
}

.popup__button {
  color: @white;
  background-color: @light-green;
  width: 260px;
  padding-top: 21px;
  padding-bottom: 15px;
  border: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 350px;
  }
}

.popup__button:hover {
  background-color: @green;
}

.popup__button:active {
  background-color: @green;
  opacity: 0.3;
}

.popup-heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: @black;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 12px;
  }
}

.popup-heading br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
