.popup {
  background-color: @white;
  border-top: 1px solid @popup-color;
  border-bottom: 1px solid @popup-color;
  box-shadow: 10 0 5px 5px @black;
}

.popup__text {
  line-height: 30px;
  text-align: center;
}
.popup__radio {
  list-style: none;
}

.popup__label {
  color: @dark-gray;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  width: 82px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 2px solid @popup-special-border;
  text-transform: uppercase;
}

.popup__button {
  color: @white;
  background-color: @light-green;
  width: 260px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
}

.popup-heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: @black;
  text-transform: uppercase;
}
