.products-item {
  border: 1px solid @border-gray;
  @media (min-width: @tablet-width) {
  display: grid;
  grid-template-columns: 334px 1fr;
  }
  @media (min-width: @desktop-width) {
  display: block;
  width: 316px;
  margin-right: 51px;
  }
}

.products-item:last-child {
  margin-right: 0;
}

.products-item__name {
  font-weight: bold;
  font-size: 17px;
  color: @black;
}

.products-item__properties {
  font-size: 13px;
  line-height: 30px;
}

.products-item__name-and-properties {
  border-bottom: 1px solid @border-gray;
}

.products-item__price {
  font-weight: bold;
  color: @black;
}

.products-item__info {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
}

.products-item__price-and-basket {
  display: flex;
  justify-content: space-between;
}


