.production__heading {
  font-weight: bold;
  font-size: 17px;
  color: @black;
  grid-area: prh;
}

.production__text {
font-size: 13px;
grid-area: pt;
}

.production__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  border: 2px solid @dark-gray;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  color: @dark-gray;
  width: 192px;
  display: inline-block;
  vertical-align: baseline;
  text-transform: uppercase;
  grid-area: pbtn;
}

.production__video{
  grid-area: ppl;
}

.production {
  position: relative;
  border: 1px solid @border-gray;
  margin: 0 auto;
  @media (min-width: @tablet-width) {
  padding: 0;
  width: 668px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: none;
  border-right: none;
  }
  @media (min-width: @desktop-width) {
    width: 1050px;
    display: grid;
    grid-template-columns: 683px 1fr;
    grid-template-areas:
    "ppl prh"
    "ppl pt"
    "ppl pbtn";
  }
}

.production__button-play{
  position: absolute;
}
