.production__heading {
  font-weight: bold;
  font-size: 17px;
  color: @black;
}

.production__text {
font-size: 13px;
}

.production__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  border: 2px solid @dark-gray;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  color: @dark-gray;
  width: 192px;
  display: inline-block;
  vertical-align: auto;
}

.production {
  border: 1px solid @border-gray;
}
