.products-item {
  border: 1px solid @border-gray;
  margin-bottom: 30px;
  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
    display: grid;
    grid-template-columns: 334px 1fr;
  }
  @media (min-width: @desktop-width) {
    display: block;
    width: 316px;
    margin-right: 51px;
  }
}

.products-item:last-child {
  margin-right: 0;
}

.products-item__name {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  display: block;
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.products-item__name:hover {
  opacity: 0.6;
}

.products-item__name:active {
  opacity: 0.3;
}

.products-item__properties {
  font-size: 13px;
  line-height: 30px;
  margin-top: 6px;
  display: block;
  padding-bottom: 17px;
  @media (min-width: @tablet-width) {
    margin-top: 7px;
    font-size: 15px;
    line-height: 30px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 5px;
    padding-bottom: 0px;
  }
}

.products-item__price {
  font-weight: bold;
  color: @black;
  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 24px;
  }
}

.products-item__info {
  padding: 29px 25px 24px 27px;
  @media (min-width: @tablet-width) {
    padding: 27px 33px 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (min-width: @desktop-width) {
    padding: 0px 27px 21px;
  }
}

.products-item__info:hover {
  box-shadow: 0 6px 10px 0 @black-opacity;
}

.products-item__info:active {
  box-shadow: 0 3px 5px 0 @black-opacity;
}

.products-item__name-and-properties {
  @media (min-width: @desktop-width) {
    min-height: 123px;
    padding-top: 27px;
  }
}

.products-item__price-and-basket {
  padding-top: 24px;
  position: relative;
  display: flex;
  justify-content: space-between;
  &::before {
    content: "";
    width: 100%;
    height: 1px;
    top: 0;
    background-color: @border-gray;
    display: block;
    position: absolute;
  }
  @media (min-width: @desktop-width) {
    padding-top: 26px;
  }
}

.products-item__image-link img {
  vertical-align: bottom;
  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
  }
  @media (min-width: @desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.products-item__image-link {
  display: block;
  text-align: center;
}

.products-item__basket {
  display: block;
  margin-right: 3px;
}

.products-item__basket:hover svg {
  fill: @light-green;
  opacity: 1;
}

.products-item__basket:active svg {
  fill: @light-green;
  opacity: 0.3;
}
