.social {
  list-style: none;
  border-bottom: 1px solid @border-footer;
  display: flex;
  margin: 0 auto;
  padding: 0 0 20px 0;
  width: 100%;
  justify-content: center;
  @media (min-width: @tablet-width) {
    border: none;
    margin: 3px 0 0;
    width: 140px;
  }
}

.social__element {
  margin-right: 41px;
  @media (min-width: @tablet-width) {
  margin-right: 40px;
  }
}

.social__element:last-child {
  margin-right: 0;
}

.social__item--instagram {
  display: block;
  margin-top: 3px;
}

.social__item--twitter {
  display: block;
  margin-top: 4px;
}

