.week-product__caption {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @light-green;
}

.week-product__item {
  border-bottom: 1px solid @border-gray;
  line-height: 20px;
}

.week-product__price {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.week-product__to-order {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: @dark-gray;
  border: 2px solid @dark-gray;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  color: @dark-gray;
  width: 260px;
  display: inline-block;
  vertical-align: auto;
}

.week-product__properties {
  list-style: none;
}
